page-foodByCatg{

      .pad{
          padding: 0px;
          margin: 0px
      }

      .background{
        background-image: url('/assets/imgs/wallpaper.jpg');
      }

      .trp{
        background-color: rgba(0, 0, 0, 0.616);
      }
      .ititle{
        color :rgb(255, 255, 255);
      }
      .trp1{
        background-color: rgba(255, 255, 255, 0.301);
        
      }

}